<?xml version="1.0" encoding="UTF-8"?>
<ParametriDiConfigurazione>
    <ipClient>127.0.0.1</ipClient>
    <ipServerLog>127.0.0.1</ipServerLog>
    <portaServerLog>8080</portaServerLog>
    <ipDatabase>127.0.0.1</ipDatabase>
    <portaDatabase>3306</portaDatabase>
    <usernameDatabase>root</usernameDatabase>
    <passwordDatabase></passwordDatabase>
    <coloreBackgroundApplicazione>#c0c0c0</coloreBackgroundApplicazione>
    <colorePulsanteNewGame>#6495ed</colorePulsanteNewGame>
    <colorePulsanteStop>#dc143c</colorePulsanteStop>
    <colorePulsanteResume>#32cd32</colorePulsanteResume>
    <numeroRigheTabella>10</numeroRigheTabella>
    <dataIniziale>2020-04-01</dataIniziale>
    <numeroRaneIniziale>3</numeroRaneIniziale>
    <secondiPerRana>60</secondiPerRana>
    <urlPannelloDiGioco>./myFiles/Sprite/pannello_di_gioco.png</urlPannelloDiGioco>
    <urlParete>./myFiles/Sprite/parete.png</urlParete>
    <larghezzaPareteInPixels>160</larghezzaPareteInPixels>
    <urlRana>./myFiles/Sprite/rana_ferma.png</urlRana>
    <larghezzaRanaInPixels>44</larghezzaRanaInPixels>
    <listaOggettiDiGiocoGenerabili>
        <OggettoDinamicoDiGioco>
                <nome>troncoX4</nome>
                <urlImmagine>./myFiles/Sprite/tronco_4.png</urlImmagine>
                <larghezzaInPixels>129</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
        <OggettoDinamicoDiGioco>
                <nome>troncoX3</nome>
                <urlImmagine>./myFiles/Sprite/tronco_3.png</urlImmagine>
                <larghezzaInPixels>97</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
        <OggettoDinamicoDiGioco>
                <nome>troncoX2</nome>
                <urlImmagine>./myFiles/Sprite/tronco_2.png</urlImmagine>
                <larghezzaInPixels>65</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
        <OggettoDinamicoDiGioco>
                <nome>camion</nome>
                <urlImmagine>./myFiles/Sprite/camion.png</urlImmagine>
                <larghezzaInPixels>74</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
        <OggettoDinamicoDiGioco>
                <nome>macchina verde</nome>
                <urlImmagine>./myFiles/Sprite/macchina_verde.png</urlImmagine>
                <larghezzaInPixels>42</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
        <OggettoDinamicoDiGioco>
                <nome>macchina rossa</nome>
                <urlImmagine>./myFiles/Sprite/macchina_rossa.png</urlImmagine>
                <larghezzaInPixels>42</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
        <OggettoDinamicoDiGioco>
                <nome>macchina blu</nome>
                <urlImmagine>./myFiles/Sprite/macchina_blu.png</urlImmagine>
                <larghezzaInPixels>50</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
        <OggettoDinamicoDiGioco>
                <nome>macchina gialla</nome>
                <urlImmagine>./myFiles/Sprite/macchina_gialla.png</urlImmagine>
                <larghezzaInPixels>54</larghezzaInPixels>
        </OggettoDinamicoDiGioco>
    </listaOggettiDiGiocoGenerabili>
</ParametriDiConfigurazione>
